@import '~bootstrap/scss/bootstrap';

form {
  margin-bottom: 10px;
}

input {
  margin-bottom: 5px;
}

.initial-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

#sign-in {
  width: 300px;
}

#message {
  text-align: center;
}
