@import '~bootstrap/scss/bootstrap';

form {
  margin-bottom: 10px;
}

input {
  margin-bottom: 5px;
}

body {
  background-image: url('public/images/corkBackground.jpg');
}

input[type=checkbox] {
    transform: scale(1.5);
    vertical-align: middle;
}

.initial-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.btn-primary {
  color: white;
  background-color: #57b570;
  border-color: #4ea665;
}

.btn-primary:hover {
  color: white;
  background-color: #4c875b;
  border-color: #3f704b;
}

.ml-2:hover {
  color: blue;
}

.white-text-cork-background {
  color: white;
  font-weight: bold;
  background: rgba(0, 151, 18, 0.4)
}

.task-post-outline-title {
  font-size: 4vh;
}

.delete-task-button, .edit-task-button {
  margin: 5px 3px 0px 3px;
}

.task-post-outline-read {
  background-color:	#feff9c;
  // height: 375px;
  margin: 15px;
  padding: 15px;
}

// .task-post-outline-description {
//   font-size: 25px;
// }

// .append-task {
//   margin-left: 15px;
// }

#navbar-title {
  font-family: 'Patrick Hand', cursive;
  font-size: 5vh;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
}

#change-password {
  width: 225px;
}

#sign-in {
  width: 300px;
}

#message {
  text-align: center;
}

// @media (min-width: 768px) {
//   .row-equal {
//     display: flex;
//     flex-wrap: wrap;
//   }
//   .col-equal {
//     margin: auto;
//   }
// }
